USE [master]
GO
/****** Object:  Database [JavaAPITestDB]    Script Date: 1/23/2019 4:26:19 PM ******/
CREATE DATABASE [JavaAPITestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JavaAPITestDB', FILENAME = N'D:\Data_dev\JavaAPITestDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JavaAPITestDB_log', FILENAME = N'D:\Log_dev\JavaAPITestDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JavaAPITestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JavaAPITestDB]
GO
/****** Object:  StoredProcedure [dbo].[ORE_RunThis]    Script Date: 1/23/2019 4:26:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ORE_RunThis]
@Value VARCHAR(400)

As
	SET NOCOUNT ON;
	DECLARE @VFindingAbbrName VARCHAR(400);
	SET @VFindingAbbrName = @Value;
	DECLARE @RandomTest VARCHAR(400);
	SET @RandomTest = 'Random text here';

	DECLARE @TEMP TABLE
	(
		Result1 VARCHAR(400),
		REsult2 VARCHAR(400)
	)

	INSERT INTO @TEMP (Result1, REsult2) values (@VFindingAbbrName, @RandomTest)

	SELECT 
		Result1 as TextulPassat,
		Result2 as RandomText
	FROM
		@TEMP
GO
USE [master]
GO
